# version: "3.8"

x-object-oriented-notes-base: &object-oriented-notes-base
  working_dir: /home/node/object-oriented-notes
  logging:
    driver: json-file
    options:
      max-size: 50m
  stdin_open: true
  tty: true
  shm_size: 16000000000
  volumes:
    - .:/home/node/object-oriented-notes/
    - ~/.ssh:/home/node/.ssh:rw
  network_mode: host

services:
  object-oriented-notes_cpu_build:
    build:
      dockerfile: object-oriented-notes.Dockerfile
      context: .
      target: build_cpu
    # image: josiahls/object-oriented-notes-cpu:${VERSION:-latest}
    image: object-oriented-notes-cpu:${VERSION:-latest}
    profiles: ["build-cpu"]

  object-oriented-notes_cpu: &object-oriented-notes_cpu
    <<: *object-oriented-notes-base
    build:
      dockerfile: object-oriented-notes.Dockerfile
      context: .
      target: build_cpu
    profiles: ["cpu"]
    restart: unless-stopped
    # image: josiahls/object-oriented-notes-cpu:${VERSION:-latest}
    image: object-oriented-notes-cpu:${VERSION:-latest}